---
import AboutIcon from "../assets/icons/AboutIcon.astro";
---

<section id="about" class="w-full flex flex-col gap-4 px-8 pt-20">
    <h2 class=" flex items-center gap-2 text-3xl font-bold opacity-95">
        <AboutIcon class="size-6" />
        Sobre mí
    </h2>
    <div class="flex flex-col gap-4 text-lg text-gray-300 text-pretty">
        <p>
            Buenas! Soy Axel Larrea, un desarrollador web frontend con mucha curiosidad por las tecnologías web y la programación en general
            por lo que me gusta mucho investigar, y seguir aprendiendo.
            Soy muy curioso y también resiliente, por lo que me gusta enfrentarme a los problemas que surgen y buscar soluciones.
        </p>
        <p>
            Actualmente me encuentro cursando el último año de la carrera Licenciatura en Sistemas de Información en UADER y solo me falta la tésis para graduarme.
        </p>
        <p>
            Por el momento no cuento con experiencia laboral, pero tengo muchas ganas de encontrar mi primer trabajo.
        </p>
    </div>
</section>