<footer class="w-full py-12 mt-20">
    <div class="max-w-[800px] w-full flex items-center justify-between px-8 mx-auto max-[480px]:flex-col max-[480px]:gap-4">
        <span class="text-sm text-white/90">&copy; 2025 Axel Larrea</span>
        <ul class="flex items-center justify-end text-sm font-medium text-white/90">
            <li><a href="#home" class="hover:underline me-2 sm:me-4">Inicio</a></li>
            <li><a href="#about" class="hover:underline me-2 sm:me-4">Sobre mí</a></li>
            <li><a href="#projects" class="hover:underline me-2 sm:me-4">Proyectos</a></li>
            <li><a href="#technologies" class="hover:underline">Tecnologías</a></li>
        </ul>
    </div>
</footer>
