<footer class="w-full py-12  mt-30">
    <div class="max-w-[1000px] w-full flex items-center justify-center gap-24 mx-auto">
        <span class="text-sm text-white/90">&copy; 2025 Axel Larrea</span>
        <ul class="flex flex-wrap items-center text-sm font-medium text-white/90">
            <li><a href="#about" class="hover:underline me-4">About</a></li>
            <li><a href="#projects" class="hover:underline me-4">Projects</a></li>
            <li><a href="#technologies" class="hover:underline me-4">Technologies</a></li>
            <li><a href="#home" class="hover:underline">Top</a></li>
        </ul>
    </div>
</footer>
