<header class="max-w-[1000px] p-8">
    <nav class="flex justify-center gap-6 md:gap-12 opacity-90">
        <a href="#about">Sobre mí</a>
        <a href="#projects">Proyectos</a>
        <a href="#technologies">Tecnologías</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>