<header class="w-full p-6 xs:p-8">
    <nav class="max-w-[800px] text-sm flex flex-wrap justify-center gap-4 mx-auto max-xs:gap-2 xs:text-[15px] sm:text-base sm:gap-6 md:gap-10 opacity-90">
        <a href="#about" class="hover:underline">Sobre mí</a>
        <a href="#projects" class="hover:underline">Proyectos</a>
        <a href="#technologies" class="hover:underline">Tecnologías</a>
        <a href="#contact" class="hover:underline">Contacto</a>
    </nav>
</header>