<a  class="flex items-center gap-2 p-2 border border-gray-800 rounded-full transition hover:-translate-y-0.5 hover:border-gray-700"
    href={Astro.props.href}
    target="_blank" 
    rel="noopener noreferrer"
    aria-label={`Link to ${Astro.props.href}`}
>
    <slot />
</a>