<a  class="flex items-center gap-2 transition hover:-translate-y-0.5" 
    href={Astro.props.href} 
    target="_blank" 
    rel="noopener noreferrer"
    aria-label={`Link to ${Astro.props.href}`}
>
    <slot />
</a>